RewriteEngine On
RewriteRule ^übersicht$ games.php [L]
RewriteRule ^tippen$ bets.php [L]
RewriteRule ^gruppe$ group.php [L]
RewriteRule ^hilfe$ help.php [L]
RewriteRule ^registrieren$ register.php [L]
RewriteRule ^anmelden$ index.php [L]
RewriteRule ^punkte$ points.php [L]