@media (max-width: 1050px){
    #betContent{
        width: 45% !important;
        max-width: 45% !important;
    }
    .list-group{
        width: 45% !important;
        max-width: 45% !important;
    }
    .game{
        min-width: 100% !important;
    }
    .betContent{
        width: 100% !important;
    }
    .small{
        width: 40px !important;
        height: 40px !important;
    }
    .smallImg img{
        height: 32px !important;
    }
}

@media (max-width: 717px){
    .betContent{
        margin-left: 3px !important;
    }
    #betContent{
        width: 48% !important;
        max-width: 48% !important;
    }
    .list-group{
        width: 50% !important;
        max-width: 50% !important;
    }
}

@media (max-width: 649px){
    .text{
        font-size: 10px !important;
        text-align: center !important;
    }
    .textBelow{
        display: inline-block !important;
    }
    .team1 .text:not(.textBelow){
        display: none !important;
    }
    .team1,.team2{
        width: 35% !important;
        text-align: center !important;
    }
    .resultDiv{
        width: 30% !important;
    }
    .resultContainer h1{
        font-size: 6vw !important;
    }
}

body, html{
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.team1{
    text-align: end;
    border-radius: 10px 0px 0px 10px;
    border-right: solid black;
    border-width: 1px;
    background: white;
    width: 45%;
}

.team2{
    text-align: start;
    border-radius: 0px 10px 10px 0px;
    border-left: solid black;
    border-width: 1px;
    background: white;
    width: 45%;
}

.form-control{
    border-color: black;
}

.game:hover {
    cursor: pointer;
}

.game{
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding:5px;
    min-width:474px
}

.collapse{
    margin-bottom: 10px;
}

.oneline {
    display: inline-block;
}

.form{
    margin-top: 20px;
    margin-left: 20px;
}

.gap{
    margin-left: 5px;
}

.small{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 4px;
    margin: auto 0;
}

.smallImg{
    text-align: center;
    padding: 4px;
    margin: auto 0;
}

.smallImg img{
    height: 42px;
}

.title{
    width: 40px;
    position: relative;
    align-self: flex-end;
}

.text{
    width: fit-content;
}

.textBelow{
    display: none;
}

.result{
    text-align: center;
    padding: 5px;
    margin: auto;
    font-size: 18px;
}

.resultContainer{
    display: flex;
    border: solid black;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 5px;
    background-color: #e9ecef;
}

.resultContainer h1{
    margin: 3px auto;
}

.resultDiv{
    margin: auto;
    text-align: center;
    width: 10%;
    height: fit-content;
}

.date{
    /* margin-top: 1px; */
    margin: auto;
    font-size: 12px;
    line-height: 20px;
}

ul {
    list-style-type: none; 
}

.main{
    margin-left: 30px;
    margin-top: 10px;
    max-height: 80%;
    height: 80%;
}

.choose{
    width: fit-content;
    margin: 3px auto;
}

.chooseAdd{
    width: fit-content;
    margin: 3px auto;
}

.choose label{
    background-color: white;
}

.chooseAdd label{
    color: red;
    background-color: white;
}

.betContent{
    margin-left: 50px;
    overflow: hidden auto;
    height: 100%;
    max-height: 100%;
    width: 488px;
    background-color: white;
}

.input-group{
    width: calc(100% - 60px);   
    margin-left: 30px;
}

.gameTitle{
    font-weight: bold;
    margin: 5px auto;
    width: fit-content;
    text-align: center;
}   

.topBar{
    display: flex;
    margin-left: 30px;
    padding-top: 20px;
}

.betDisplay{
    padding: 5px;
    width:fit-content;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 2px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.list-group{
    overflow: hidden scroll;
    height: 100%;
    max-height: 100%;
}

.list-group::-webkit-scrollbar {
    display: none;
  }

.selectedBetDisplay{
    border: 1px solid black;
    border-radius: 0.5rem;
    background: #e9ecef;
    padding: 5px;
}

#daySelect{
    text-align: center;
}

#Saison-warning{
    margin-left: 30px;
    font-weight: bold;
}

@media (max-width: 661px){
    .main{
        margin-left: 5px !important;
        max-height: 83% !important;
        height: 83% !important;
    }
}

.filterContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterContainer select{
    width: 48%;
    border-color: black;
}