@media (min-width: 801px){
    .game{
        min-width: 474px;
    }
}

@media (max-width: 800px){
    .text{
        font-size: 10px !important;
        text-align: center !important;
    }
    .textBelow{
        display: inline-block !important;
    }
    .team1 .text:not(.textBelow){
        display: none !important;
    }
    .team1,.team2{
        width: 35% !important;
        text-align: center !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .game{
        min-width: none !important;
        width: calc(100vw - 10px) !important;
    }
    .list-group{
        scroll-snap-type: x mandatory !important;
    }
    li{
        scroll-snap-align: start !important;
        scroll-snap-stop: always !important;
    }
    .input-group{
        width: calc(100% - 10px) !important;
        margin-left: 5px !important;
    }
}


body, html{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    height: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.team1{
    text-align: end;
    border-radius: 10px 0px 0px 10px;
    border-right: solid black;
    border-width: 1px;
    background: white;
    width: 45%;
}

.team2{
    text-align: start;
    border-radius: 0px 10px 10px 0px;
    border-left: solid black;
    border-width: 1px;
    background: white;
    width: 45%;
}

.form-control{
    border-color: black;
}

.game{
    cursor: all-scroll;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 82vh;
}

.collapse{
    margin-bottom: 10px;
}

.oneline {
    display: inline-block;
}

.form{
    margin-top: 20px;
    margin-left: 20px;
}

.gap{
    margin-left: 5px;
}

.small{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 4px;
    margin: auto 0;
}

.smallImg{
    text-align: center;
    padding: 4px;
    margin: auto 0;
}

.smallImg img{
    height: 42px;
}

.title{
    width: 40px;
    position: relative;
    align-self: flex-end;
}

.text{
    width: fit-content;
}

.textBelow{
    display: none;
}

.result{
    text-align: center;
    padding: 5px;
    margin: auto;
    font-size: 18px;
}

.resultContainer{
    width: 100%;
    display: flex;
    border: solid black;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 5px;
    background-color: #e9ecef;
}

.resultContainer h1{
    margin: 3px auto;
}

.resultDiv{
    margin: auto;
    text-align: center;
    width: 10%;
    height: fit-content;
}

.date{
    /* margin-top: 1px; */
    margin: auto;
    font-size: 12px;
    line-height: 20px;
}

ul {
    list-style-type: none; 
}

.main{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    max-height: 80%;
    height: 80%;
}

.betButtons {
    flex: 1;
    overflow: hidden auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.toggleButton{
    width: fit-content;
    margin: 3px auto;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px;
    cursor: pointer;
    user-select: none;
    font: thin 20px Arial, sans-serif;
    box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.5);
    background-color: white;
}

.toggleButton:disabled {
    background-color: rgb(241, 241, 241);
    border-color: lightgray;
    box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.1);
    cursor: default;
}

.toggleButton:hover {
    background-color: rgb(241, 241, 241);
    box-shadow: 5px 5px 16px -2px rgba(0,0,0,0.7);
} 

.toggleButton.active {
    background-color: rgb(45, 45, 45);
    color: white;
    /* border: black 5px solid; */
}

.toggleButton.active:disabled{
    background-color: rgb(141, 141, 141);
}

.toggleButton.add{
    color: red;
    background-color: white;
}

.betContent{
    margin-left: 50px;
    overflow: hidden auto;
    height: 100%;
    max-height: 100%;
    width: 488px;
    background-color: white;
}

.input-group{
    width: calc(100% - 60px);   
    margin-left: 30px;
}

.gameTitle{
    font-weight: bold;
    margin: 5px auto;
    width: fit-content;
    text-align: center;
}   

.topBar{
    display: flex;
    margin-left: 30px;
    padding-top: 20px;
}

.betDisplay{
    padding: 5px;
    width:fit-content;
    border: 1px solid black;
    border-radius: 0.5rem;
    margin: 2px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.list-group{
    overflow: scroll hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.list-group::-webkit-scrollbar {
    display: none;
}

.selectedBetDisplay{
    border: 1px solid black;
    border-radius: 0.5rem;
    background: #e9ecef;
    padding: 5px;
    flex: 1;
    overflow: hidden;
    width: 100%;
}

.betContainer {
    overflow: hidden auto;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

#daySelect{
    text-align: center;
}

#Saison-warning{
    margin-left: 30px;
    font-weight: bold;
}

@media (max-width: 661px){
    .main{
        margin-left: 5px !important;
        margin-right: 5px !important;
        max-height: 83% !important;
        height: 83% !important;
    }
}

.filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterContainer select{
    width: 48%;
    border-color: black;
}

li {
    width: fit-content;
    height: 100%;
}