html,body{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}


.saison, .saisonContainer{
    min-width: 470px;
}

.saisonContainer{
    margin-bottom: 15px;
    padding: 5px;
}

.team1{
    text-align: center;
    width:100%;
    height: 100%;
}
.team2{
    text-align: center;
    width:100%;
    height: 100%;
}
.game{
    display: flex;
    align-items: center;
    min-height: 51px;
}
.collapse{
    margin-bottom: 10px;
}
.oneline {
    display: inline-block;
}
.form{
    margin-top: 20px;
    margin-left: 20px;
}

.gap{
    margin-left: 5px;
}

.small{
    width: 50px;
    height: 50px;
    text-align: center;
}

.smallImg{
    text-align: center;
}

.smallImg img{
    height: 34px;
}

.title{
    width: 40px;
    position: relative;
    align-self: flex-end;
}

.text{
    width: 150px;
}

.resultDiv{
    text-align: center;
    line-height: 0;
}

.resultDisplay{
    padding:5px;
    min-width:474px;
    margin-bottom: 20px;
    background-color: white;
}

.date{
    font-size: 10px;
}

.done{
    background-color: gray;
}

ul {
    list-style-type: none; 
}

.main{
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 20px;
    height: calc(100% - 275px);
    width: calc(100% - 80px);
    /* max-width: 1390px; */
    /* position: fixed; 
    left: 0;
    right: 0; */
}

#betContent{
    margin-left: 50px;
}

.betContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 474px;
    /*padding: 5px;*/
    margin: 5px 0px;
    min-height: 52px;
}

.betContainer div{
    width: 100%;
}

.betContainer2{
    min-width: 100%;
    max-width: 474px;
    /*padding: 5px;*/
    margin: 5px 0px;
    min-height: 52px;
    
}

.betDisplay{
    margin: auto;
    padding: 5px;
    width: fit-content;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border: 2px ridge #505050;
    border-radius: 6px;
    white-space: nowrap;
}

.input-group{
    min-width: calc(100% - 40px);
    width: calc(100% - 40px);
    height: 40px;
    margin: auto;
}

#daySelect{
    text-align: center;
}

.betsDisplay{
    flex: 1;
    /* min-width: 300px; */
    display: flex;
    justify-content: space-evenly;
    min-height: 52px;
    margin-bottom: 5px;
    overflow-x: scroll;
    align-items: center;
}

.gameTitle{
    font-weight: bold;
    margin: auto;
    width: fit-content;
}

.topBar{
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
}

.points{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: lightgray;
    margin-top: 1px;
}

.pointDisplay{
    /* max-width: 900px; */
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.betResultContainer{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    /* padding: 10px; */
}

.playerPointDiv {
    font-size: larger;
    min-width: 300px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
    padding-left: 3px;
    border: 1px solid black;
    vertical-align: center;
    min-height: 52.2px;
}

.playerPointDiv.bold, .betsDisplay.bold{
    border-width: 2px !important;
}

.playerPointDiv p{
    margin: 0;
}

.list-group{
    overflow: scroll hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
    cursor: all-scroll;
}

.list-group::-webkit-scrollbar {
    display: none;
}

#betDaily{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#dailyContainer{
    padding:5px;
    min-width:474px;
    margin-bottom: 20px;
}

.searchbar{
    display:flex;
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 0;
    width: 100%;
}

.groupContainer{
    margin-top:126px;
}

.content{
    margin-left: 20px;
    margin-top: 10px;
    width: calc(100vw - 25px);
    display: flex;
    justify-content: space-between;
}

.pointsDay{
    margin-left: 40px;
    padding: 10px;
}

.nav-link{
    font-size: 1.25rem;
}

.playername{
    font-weight: bold;
    width: 60%;
    margin: 0;
    height: 100%;
    vertical-align: middle;
}

.playerPoints{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}

.playerpoints p{
    margin: 0!important;
}

.pointsTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pointsTopSmall {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#noplayer {
    flex: 0 0 40%;
}

li{
    list-style-type:none;
}

.playerPointsTop {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#totalPoints, #dayPoints {
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 0;
}
.playernameTop{
    width: 50%;
    margin-left: 10px;
}

.games{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    overflow: hidden;
    /* margin-right: 50px; */
    /* margin-left: 50px; */
}
.playernameBar{
    display: flex;
    justify-content: space-around;
}

.boxM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
}

.boxM.bold{
    border-width: 4px;
}

.playerM{
    border-right: 2px solid black;
    width: 50%;
    height: 100%;
    background-color: #d3d3d3;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.playernameM{
    font-size: larger;
    font-weight: bold;
    border-bottom: 2px solid black;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointsM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.pointsTextM{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointsTotalM{
    border-right: 2px solid black;
}

.sort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}

.sort.mobile{
    width: 50%;
}

.sortText{
    font-weight: bold;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sortDay{
    border-radius: 0px 8px 8px 0px;
}

.sortTotal{
    border-right: 2px solid black;
    border-radius: 8px 0px 0px 8px;
}

.sortText.selected{
    background-color: black;
    color: white;
}

.arrowRight{
    border-radius: 0px 8px 8px 0px;
}

.arrowLeft{
    border-radius: 8px 0px 0px 8px;
}

.arrowRight, .arrowLeft{
    margin: auto;
    height: 30px;
    background-color: #b7b7b7;
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 25%;
}

.scrollButton {
    position: relative;
    height: 10vh;
    width: fit-content;
    border-radius: 5px;
    /* margin-top: 47%; */
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgba(168, 168, 168, 0.7);
}

@media (max-width: 1320px){
    .main{
        width: calc(100% - 40px);
        height: calc(100% - 310px);
    }
}

@media (max-width: 830px){
    .team1{
        font-size: 10px;
    }
    .team2{
        font-size: 10px;
    }
    .list-group{
        scroll-snap-type: x mandatory;
    }
    li{
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
}

@media (min-width: 661px){
    .playernameBar{
        display: none;
    }
    .pointsTopSmall{
        display: none;
    }
    .hideBig{
        display: none;
    }
    .mobile{
        display: none;
    }
    .multiDisplay{
        width: 50%;
        display: flex;
        flex-direction: row;
    }
}


@media (max-width: 661px){
    .teamText,.pointsTop,.groupContainer,.playerPointDiv,.desktop{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .teamText1{
        display: inline-block;
        font-size: 15px;
        padding-top: 0;
    }
    .newLine{
        display: inline;
    }
    .pointsDay{
        margin-left: 10px;
    }
    .betsDisplay, .betContainer, .resultDisplay, #SaisonContainer, #dailyContainer{
        max-width: 100%;
        min-width: 85vw;
    }
    #betDaily{
        height: 80px;
    }
    .betsDisplay:not(.desktop){
        max-width: 40vw;
        min-width: 40vw;
        min-height: 100%;
        max-height: 100%;
        /* display: block; */
        flex-direction: column;
        border-bottom-right-radius: 10px;
    }
    .multiDisplay .betDisplay{
        min-width: fit-content;
        max-width: fit-content;
    }
    .multiDisplay .gameTitle{
        width: 66%;
    }
    .betsDisplay > .betDisplay{
        margin-top: 3px;
        margin-bottom: 3px;

        min-width: 90%;
        text-align: center;
    }
    .content{
        margin-left: 5px;
        width: calc(100vw - 10px);
    }
    .games{
        margin: auto;
        width: 100vw; /* Set a fixed width for the carousel */
    }
    .saison, .saisonContainer{
        min-width: 1px;
    }
    .multiDisplay{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 5px 0;
    }
    .scrollButton{
        position: fixed;
        top: 50%;
        margin: 5px;
    }
    .betContainer2{
        max-width: calc(100vw - 10px);
        width: calc(100vw - 10px);
    }
}
