body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray
}

.content {
    width: 300px;
    min-width: 300px;
    padding: 16px;
    background-color: white;
    border: 5px solid black;
    background-color: lightgray;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 0px 20px grey;
    text-align: center;
}

h1 {
    color: black;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="button"]:hover {
    opacity: 0.8;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.5);
}

input{
    border-radius: 25px;
}

label {
    font-size: 14px;
}

.title{
    box-shadow: 0px 0px 20px grey;
    margin: auto;
    border: 5px solid black;
    margin-top: 20px;
    display: flex;
    justify-content:center;
    vertical-align: middle;
    width: fit-content;
    padding: 5px;
    border-radius: 25px;
    background-color: lightgray;
}

.titleText{
    text-align: center;
    margin: 0 20px;
    align-items: center;
    display: flex;
}

.main{
    font-size: xx-large;
    font-family: sans-serif;
    text-shadow: 2px 2px 3px #949494;
}        

#error{
    margin: 0;
    font-weight: bold;
    color: red;
    font-size: 14px;
}
