.inputGroup{
    display:flex;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
}

.inputGroup .label{
    margin: auto;
    margin-right: 10px;
    min-height: 100%;
    text-align: center;
}