.inputGroup{
    display:flex;
    margin: 20px auto;
    width: fit-content;
    text-align: center;
}

.inputGroup .label{
    margin: auto;
    margin-right: 10px;
    min-height: 100%;
    text-align: center;
}

h1,h4 {
  text-align: center;
  color: #333;
}