html,body{
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1320px){
    .main{
        width: calc(100% - 40px) !important;
        height: calc(100% - 310px) !important;
    }
}

@media (max-width: 830px){
    .team1{
        font-size: 10px;
    }
    .team2{
        font-size: 10px;
    }
}

@media (min-width: 661px){
    .playernameBar{
        display: none !important;
    }
    .pointsTopSmall{
        display: none !important;
    }
    .hideBig{
        display: none !important;
    }
    .mobile{
        display: none !important;
    }
    .multiDisplay{
        width: 50%;
        display: flex;
        flex-direction: row;
    }    
}


@media (max-width: 661px){
    .teamText,.pointsTop,.groupContainer,.playerPointDiv,.main,.menu-account,.desktop{
        display: none !important;
    }
    .mobile{
        display: flex !important;
    }
    .teamText1{
        display: inline-block !important;
    }
    .newLine{
        display: inline !important;
    }
    .pointsDay{
        margin-left: 10px !important;
    }
    .betsDisplay, .betContainer, .resultDisplay, #SaisonContainer, #dailyContainer{
        max-width: 85vw !important;
        min-width: 85vw !important;
    }
    .betsDisplay:not(.desktop){
        max-width: 40vw !important;
        min-width: 40vw !important;
        min-height: 100% !important;
        max-height: 100% !important;
        /* display: block !important; */
        flex-direction: column !important;
        border-bottom-right-radius: 10px;
    }
    .multiDisplay .betDisplay{
        min-width: fit-content !important;
        max-width: fit-content !important;
    }
    .multiDisplay .gameTitle{
        width: 66%;
    }
    .betsDisplay > .betDisplay{
        margin-top: 3px !important;
        margin-bottom: 3px !important;

        min-width: 90% !important;
        text-align: center;
    }

    .carousel{
        margin: auto !important;
        width: 95vw; /* Set a fixed width for the carousel */
    }
    .carousel-control-prev, .carousel-control-next {
        top: 50% !important;
        height: 95% !important;
    }
    .saison, .saisonContainer{
        min-width: 1px !important;
    }
    .multiDisplay{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 5px 0;
    }

}

.saison, .saisonContainer{
    min-width: 470px;
}

.team1{
    text-align: center;
    width:100%;
    height: 100%;
}
.team2{
    text-align: center;
    width:100%;
    height: 100%;
}
.game{
    display: flex;
    align-items: center;
    min-height: 51px;
}
.collapse{
    margin-bottom: 10px;
}
.oneline {
    display: inline-block;
}
.form{
    margin-top: 20px;
    margin-left: 20px;
}

.gap{
    margin-left: 5px;
}

.small{
    width: 50px;
    height: 50px;
    text-align: center;
}

.title{
    width: 40px;
    position: relative;
    align-self: flex-end;
}

.text{
    width: 150px;
}

.resultDiv{
    text-align: center;
    line-height: 0;
}

.resultDisplay{
    padding:5px;
    width:474px;
    margin-bottom: 20px;
    background-color: white;
}

.date{
    font-size: 10px;
}

.done{
    background-color: gray;
}

ul {
    list-style-type: none; 
}

.main{
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 20px;
    height: calc(100% - 275px);
    width: calc(100% - 80px);
    /* max-width: 1390px; */
    /* position: fixed; 
    left: 0;
    right: 0; */
}

.list-group::-webkit-scrollbar {
    display: none;
}

#betContent{
    margin-left: 50px;
}

.betContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    max-width: 474px;
    /*padding: 5px;*/
    margin: 5px 0px;
    min-height: 52px;
}

.betContainer2{
    min-width: 100%;
    max-width: 474px;
    /*padding: 5px;*/
    margin: 5px 0px;
    min-height: 52px;
    
}

.betDisplay{
    margin: auto;
    padding: 5px;
    width: fit-content;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border: 2px ridge #505050;
    border-radius: 6px;
    white-space: nowrap;
}

.input-group{
    min-width: calc(100% - 40px);
    width: calc(100% - 40px);
    height: 40px;
    margin: auto;
}

#daySelect{
    text-align: center;
}

.betsDisplay{
    flex: 1;
    /* min-width: 300px; */
    display: flex;
    justify-content: space-evenly;
    min-height: 52px;
    margin-bottom: 5px;
    overflow-x: scroll;
    align-items: center;
}

.gameTitle{
    font-weight: bold;
    margin: auto;
    width: fit-content;
}

.topBar{
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
}

.points{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    background-color: lightgray;
    margin-top: 1px;
}

.pointDisplay{
    /* max-width: 900px; */
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.betResultContainer{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    /* padding: 10px; */
}

.playerPointDiv {
    font-size: larger;
    min-width: 300px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
    padding-left: 3px;
    border: 1px solid black;
    vertical-align: center;
    min-height: 52.2px;
}

.playerPointDiv p{
    margin: 0;
}

.list-group{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

#betDaily{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

#dailyContainer{
    padding:5px;
    min-width:474px;
    margin-bottom: 15px;
}

.searchbar{
    display:flex;
    margin-top: 0;
    margin-left: 40px;
    margin-bottom: 0;
    width: 100%;
}

.groupContainer{
    margin-top:134.5px;
   
}

.pointBar{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.pointsDay{
    margin-left: 40px;
    padding: 10px;
}

.nav-link{
    font-size: 1.25rem;
}

.playername{
    font-weight: bold;
    width: 60%;
    margin: 0;
    height: 100%;
    vertical-align: middle;
}

.playerPoints{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}

.playerpoints p{
    margin: 0!important;
}

.pointsTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pointsTopSmall {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#noplayer {
    flex: 0 0 40%;
}

li{
    list-style-type:none;
}

.playerPointsTop {
    flex: 0 0 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#totalPoints, #dayPoints {
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 0;
}
.playernameTop{
    width: 50%;
    margin-left: 10px;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Breitere Buttons */
    top: 87px;
    transform: translateY(-50%);
    background-color: grey;
    height: 150px;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
}

.carousel-control-prev {
    left: -5%; /* Positioniere den linken Pfeil außerhalb des Carousels */
}

.carousel-control-next {
    right: -5%; /* Positioniere den rechten Pfeil außerhalb des Carousels */
}
.carousel{
    margin-right: 50px;
}
.playernameBar{
    display: flex;
    justify-content: space-around;
}
.menu{
    display: flex;
    justify-content:space-between;
    background-color: lightgray;
    margin-bottom: 15px;
    overflow-x: scroll;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-main{
    display: flex;
    justify-content:flex-start;
    overflow-x: scroll;
}

.menu::-webkit-scrollbar, .menu-main::-webkit-scrollbar, .betResultContainer::-webkit-scrollbar, .betsDisplay::-webkit-scrollbar{
    display: none;
}

.menu-item{
    padding: 10px 5px 7px 5px;
    color: gray;
}

.menu-button{
    display: flex;
    justify-content:space-between;
    font-size: large;
    text-decoration: none;
}


.menu-item.selected{
    color: black;
    background-image: linear-gradient(to right, 
        transparent 0%, 
        transparent 20%, 
        black 20%, 
        black 80%, 
        transparent 80%, 
        transparent 100%);
    background-size: 100% 4px; /* Adjust the height of the border */
    background-repeat: no-repeat;
    background-position: bottom;
}

.menu-item:hover:not(.selected, .logout){
    color: black;
    background-image: linear-gradient(to right, 
        transparent 0%, 
        transparent 20%, 
        black 20%, 
        black 80%, 
        transparent 80%, 
        transparent 100%);
    background-size: 100% 4px; /* Adjust the height of the border */
    background-repeat: no-repeat;
    background-position: bottom;
    animation: border-expand 0.3s ease forwards;
}

.menu-button.logout{
    background: linear-gradient(to right, black, black 50%, gray 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;  
}

.menu-button.logout:hover{
    background-position: 0 100%;
}

@keyframes border-expand {
    0% {
        background-size: 0% 4px;
    }
    50% {
        background-size: 50% 4px;
    }
    100% {
        background-size: 100% 4px;
        background-image: linear-gradient(to right, 
            transparent 0%, 
            transparent 20%, 
            black 20%, 
            black 80%, 
            transparent 80%, 
            transparent 100%);
    }
}

.menu-button .icon {
    display: none;
}

.menu-button:hover .icon {
    display: inline-block;
}

.icon{
    color: black;
}


.menu-account{
    display: flex;
    justify-content: center;
    align-items: center;
    }

#name{
    margin-right: 5px;
}

.edit-button{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button svg{
    height: 120%;
}

.edit-name{
    background-color: inherit;
    border: hidden;
    width: fit-content;
    text-align: center;
}

.edit-name:focus{
    outline-width: 0;
}

.boxM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    border: 3px solid black;
    border-radius: 10px;
    height: 100px;
}

.playerM{
    border-right: 3px solid black;
    width: 50%;
    height: 100%;
    background-color: #d3d3d3;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.playernameM{
    font-size: larger;
    font-weight: bold;
    border-bottom: 3px solid black;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointsM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.pointsTextM{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointsTotalM{
    border-right: 2px solid black;
}

.sort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    cursor: pointer;
}

.sortText{
    font-weight: bold;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sortDay{
    border-radius: 0px 10px 10px 0px;
}

.sortTotal{
    border-right: 2px solid black;
    border-radius: 10px 0px 0px 10px;
}

.sortText.selected{
    background-color: black;
    color: white;
}